<!-- HEAD  -->
<%- include('partials/head') %>

  <title>RamTech</title>
  </head>

  <body>

    <!-- HEADER  -->
    <%- include('partials/header') %>

      <main>
        <section class="carousel">
          <i id="left" class="fa-solid fa-circle-arrow-left"></i>

          <div class="slider">
            <img class="img1" src="/images/images-carousel/img1.jpg">
            <img class="img2" src="/images/images-carousel/img2.jpg">
            <img class="img3" src="/images/images-carousel/img3.jpg">
            <img class="img4" src="/images/images-carousel/img4.jpg">
            <img class="img5" src="/images/images-carousel/img5.jpg">
            <img class="img6" src="/images/images-carousel/img6.jpg">
            <img class="img7" src="/images/images-carousel/img7.jpg">
            <img class="img8" src="/images/images-carousel/img8.jpg">
            <img class="img9" src="/images/images-carousel/img9.jpg">
          </div>

          <i id="right" class="fa-solid fa-circle-arrow-right"></i>
        </section>

        <section class="highlight">

          <div class="title-section">
            <h2 class="title">Nuestros productos más baratos</h2>
          </div>

          <div class="products">
            <% for (let i=0; i<6; i++) { %>
              <article>
                <div class="description-container">
                  <a href="/products/product-detail/<%= products[i].id %> " id="product-redirect">
                    <img src="/images/images-products/<%= products[i].product_images[0].name%>" alt="<%=products[i].name %>">
                    <i class="fa-solid fa-heart heart-icon"></i>
                    <div class="main-container">
                      <h4 class="name">
                        <%=products[i].name %>
                      </h4>
                      <p class="price">$<%=products[i].price %>
                      </p>
                      <p class="discount">
                        <%=products[i].discount %>% Off
                      </p>
                    </div>
                  </a>
                </div>
              </article>
              <%}; %>
          </div>
        </section>

        <section class="buttons-create-products">
          <a href="/products" id="product-redirect"><input class="buttons" type="submit"
              value="Todos los productos"></a>
          <% if (locals.admin) { %>
            <a href="/products/product-create" id="product-redirect"><input class="buttons" type="submit"
                value="Crea tu producto"></a>
            <% } %>
        </section>

        <section class="setup-products">

          <div class="title-section">
            <h2 class="title">Armá tu Setup ideal</h2>
            <img src="/images/setups-gamers.jpg" alt="Setup-products">
          </div>

          <div class="setup">
            <div class="categories-box">
              <% categories.forEach(cat=> {%>
                <div class="main-box">
                  <img src="/images/images-categories/<%= cat.name  %>.jpg" alt="">
                  <div class="box">
                    <a href="/products/search-cat/<%= cat.id %>">
                      <i class="<%= cat.icon %>"></i>
                      <h4 class="name">
                        <%= cat.name %>
                      </h4>
                    </a>
                  </div>
                </div>
                <% })%>

            </div>
          </div>
        </section>
      </main>

      <script src="/js/index.js"></script>

      <!-- FOOTER  -->
      <%- include('partials/footer') %>