<%- include('../partials/head') %>

    </head>


    <body>
        <!-- HEADER  -->
        <%- include('../partials/header') %>
            <main>
                <div class="update-images">
                    <% product.product_images.forEach(function(image) { let number=0%>
                        <form name="product-image-form" class="img-form" action="/products/imageDelete/<%= image.id %>"
                            method="post">
                            <label class="image-e-c" for="<%= image.id %>"> <img class="thumbnail-edit"
                                    src="/images/images-products/<%=image.name%>" width="250px"> <input type="checkbox"
                                    name="imageToDelete" id="<%=image.id%>" value="<%=image.name%>"> </label>
                            <input type="submit" value="borrar">
                        </form>

                        <%;})%>

                            <form method="post" class="second-form" action="/products/addImages/30"
                                enctype="multipart/form-data">

                                <h2>Agregar Imagenes</h2>
                                <input type="text" class="hidden" name="product_id" value="<%=product.id%>" disabled>
                                <br>
                                <input type="file" name="images" multiple>
                                <p class="invalid-feedback"></p> <br> <br>

                                <input type="submit" value="Aceptar">
                            </form>

            </main>

            <%- include('../partials/footer') %>