<!-- HEAD  -->
<%- include('../partials/head') %>

    <link rel="stylesheet" href="/css/productCart.css">
    <title>Carrito</title>
    </head>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/header') %>

            <main>
                <div class="title">
                    <h2>CARRITO</h2>
                    <h4>(2 ARTICULOS)</h4>
                </div>
                <div class="container">
                    <div class="productos">
                        <% userCart.forEach(product=> { %>

                            <div class="producto">
                                <div class="image">
                                    <img src="/images/images-products/<%= product.products.product_images[0].name %>"
                                        alt="">
                                </div>
                                <div class="description">

                                    <article class="article1">
                                        <%= product.products.name %>
                                    </article>
                                    <article class="article2">
                                        <%= product.amount %>
                                    </article>
                                    <article class="article3">
                                        <%= product.products.price %>
                                    </article>
                                    <div class="buttons">
                                        <form action="/products/deleteProductFromCart/<%= product.id %>?_method=DELETE"
                                            method="POST">
                                            <input type="submit" value="Eliminar" class="article4">
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <hr>
                            <% }) %>
                    </div>

                    <div class="total">
                        <article class="article1">Total de la orden:</article>
                        <article class="article1total">$
                            <span id="products-price">
                                <%= totalPrice %>
                            </span>
                        </article>
                        <hr>
                        <article class="article1">
                            <article class="article1" for="delivery-method">Formas de entrega</article>
                            <select class="selection" name="received-product" id="delivery-method">
                                <option disabled selected>Elige tu forma de entrega</option>
                                <option value="home">Envio a domicilio</option>
                                <option value="post">Retiro en correo</option>
                                <option value="free">Retiro en tienda</option>
                            </select>
                            <article class="article1" id="shipping-cost">Llega hoy por:</article>
                        </article>
                        <hr>
                        <hr>
                        <article class="article1">Total a Pagar: </article>
                        <article id="final-price" class="article4total"></article>
                    </div>
                    <div class="pago">
                        <a href="#"><button>Proceder a pagar</button></a>
                    </div>
                </div>
            </main>

            <!-- FOOTER  -->
            <script src="/js/productCart.js"></script>
            <%- include('../partials/footer') %>