<!-- HEAD -->
<%- include('../partials/head') %>
<link href="/css/products.css" rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	
	<main>
		<section class="highlight">
			
			<div class="title-section">

				<h2 class="title">Productos</h2>
				
			</div>

			<div class="products">
			<% products.forEach(product => { %>
				<article>
					<div class="description-container">
						<a href="/products/product-detail/<%=product.id %>" id="product-redirect">
							<img src="/images/images-products/<%= product.product_images[0].name %>" alt="<%=product.name %>">
							<i class="fa-solid fa-heart heart-icon"></i>
							<div class="main-container">
								<h4 class="name"><%=product.name %></h4>
								<p class="price">$<%=product.price %> </p>
								<p class="discount"><%=product.discount %>% Off</p>
							</div>
						</a>
					</div>
				</article>
				<%}); %> 
			</div>
		</section>
	</main>
	<!-- FOOTER  -->
<%- include('../partials/footer')  %>
