<!-- HEAD -->
<%- include('../partials/head') %>

    <link href="/css/productEdit.css" rel="stylesheet">
    <title>Edición de producto</title>
    </head>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/header') %>
            <main>
                <div class="formBox">
                    <h5>Editar producto</h5>

                    <form id="form" action="/products/<%= product.id %>?_method=PUT" method="POST" autocomplete="off"
                        enctype="multipart/form-data">

                        <input value="<%=product.name %>" class="inputs" type="text" name="name"
                            placeholder="Edita el nombre del producto">
                        <p class="error-message" id="error-name"></p>

                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>

                                <input value="<%=product.price %>" class="inputs" type="number" name="price" min="1"
                                    placeholder="Edita el precio">

                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                    <% } %>
                                        <input value="<%=product.discount %>" class="inputs" type="number"
                                            name="discount" min="1" max="100"
                                            placeholder="Edita el porcentaje del descuento">

                                        <label for="">Seleccione una categoría</label>
                                        <select class="selection" name="category">
                                            <% for( let i=0; i < category.length; i++ ) { %>
                                                <% if (category[i].id==product.categories_id) { %>
                                                    <option value="<%= category[i].id %>" selected>
                                                        <%= category[i].name %>
                                                    </option>
                                                    <% } else { %>
                                                        <option value="<%= category[i].id %>">
                                                            <%= category[i].name %>
                                                        </option>

                                                        <% } %>
                                                            <% } %>
                                        </select>

                                        <label for="">Seleccione una marca</label>
                                        <select class="selection" name="brand">
                                            <% for( let i=0; i < brand.length; i++ ) { %>
                                                <% if (brand[i].id==product.brands_id) { %>
                                                    <option value="<%= brand[i].id %>" selected>
                                                        <%= brand[i].name %>
                                                    </option>

                                                    <% } else { %>
                                                        <option value="<%= brand[i].id %>">
                                                            <%= brand[i].name %>
                                                        </option>
                                                        <% } %>
                                                            <% } %>
                                        </select>

                                        <input value="<%=product.image %>" class="inputs" id='inputImage' type="file"
                                            accept=".png, .jpg, .jpeg, .webp" name="image">
                                        <p class="error-message" id="error-image"></p>

                                        <% if (locals.errors && errors.image) { %>
                                            <div class="text-danger">
                                                <%= errors.image.msg %>
                                            </div>
                                            <% } %>

                                                <textarea name="description" class="textarea"
                                                    placeholder="Edita la descripcion del producto"><%= product.description %>
                                            </textarea>
                                                <p class="error-message" id="error-description"></p>

                                                <% if (locals.errors && errors.description) { %>
                                                    <div class="text-danger">
                                                        <%= errors.description.msg %>
                                                    </div>
                                                    <% } %>
                                                        <% if (locals.admin) { %>
                                                            <button type="submit" class="buttons">Editar</button>

                                                            <!-- <form action="/products/%= product.id %?_method=PUT" method="POST">
                        <button type="submit" class="buttons">Editar</button>
                    </form> -->
                                                            <% } %>
                    </form>

                </div>
            </main>
            <!-- FOOTER  -->
            <script src="/js/products.js"></script>

            <%- include('../partials/footer') %>