<!-- HEAD -->
<%- include('../partials/head') %>
	</head>

	<body>
		<!-- Header -->
		<%- include('../partials/header') %>

			<main>
				<section class="highlight">

					<div class="title-section">

						<h2 class="title">Todos nuestros productos</h2>
					</div>

					<div class="products">
						<% products.forEach(product=> { %>
							<article>
								<a href="/products/product-detail/<%=product.id %>" id="product-redirect">

									<% if (product.product_images.length> 0) { %>
										<div class="img-container">
											<img src="/images/images-products/<%= product.product_images[0].name %>">
										</div>
										<% } else { %>
											<div class="img-container">
												<img src="/images/images-products/default-product.png">
											</div>
											<% } %>
												<div class="main-container">
													<h4 class="name">
														<%=product.name %>
													</h4>
													<p class="price">$<%=product.price %>
													</p>
													<p class="discount">
														<%=product.discount %>% Off
													</p>
												</div>
								</a>
							</article>
							<%}); %>
					</div>
				</section>
			</main>
			<!-- FOOTER  -->
			<%- include('../partials/footer') %>