<!-- HEAD  -->
<%- include('../partials/head') %>

    <link href="/css/productCreate.css" rel="stylesheet">
    <title>Creación de producto</title>
    </head>

    <body>
        <!-- HEADER  -->
        <%- include('../partials/header') %>
            <main>
                <div class="formBox">
                    <h5>Crear producto</h5>

                    <form id="form" action="/products" method="POST" autocomplete="off" enctype="multipart/form-data">

                        <input value="<%= locals.oldData ? oldData.name : null %>" class="inputs" type="text"
                            name="name" placeholder="Elige el nombre del producto">
                        <p class="error-message" id="error-name"></p>

                        <% if (locals.errors && errors.name) { %>
                            <div class="error-message">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                                <input value="<%= locals.oldData ? oldData.price : null %>" class="inputs" type="number"
                                    name="price" min="1" placeholder="Elige el precio">
                                <% if (locals.errors && errors.price) { %>
                                    <div class="error-message">
                                        <%= errors.price.msg %>
                                    </div>
                                    <% } %>
                                        <input value="<%= locals.oldData ? oldData.discount : null %>" class="inputs"
                                            type="number" name="discount" min="1" max="100"
                                            placeholder="Elige el porcentaje del descuento">

                                        <label for="">Seleccione una categoría</label>
                                        <select class="selection" name="category">
                                            <% for( let i=0; i < categories.length; i++ ) { %>
                                                <option value="<%= categories[i].id %>">
                                                    <%= categories[i].name %>
                                                </option>
                                                <% } %>
                                        </select>


                                        <label for="">Seleccione una marca</label>
                                        <select class="selection" name="brand">
                                            <% for( let i=0; i < brands.length; i++ ) { %>
                                                <option value="<%= brands[i].id %>">
                                                    <%= brands[i].name %>
                                                </option>
                                                <% } %>
                                        </select>

                                        <!-- <input class="inputs" type="text" name="brand" placeholder="Elige la marca"> -->

                                        <input value="<%= locals.oldData ? oldData.image : null %>" class="inputs"
                                            id='inputImage' type="file" accept=".png, .jpg, .jpeg" name="image"
                                            multiple>
                                        <p class="error-message" id="error-image"></p>

                                        <textarea name="description" class="textarea"
                                            placeholder="Elige la descripcion del producto"><%= locals.oldData ? oldData.description : null %></textarea>
                                        <p class="error-message" id="error-description"></p>

                                        <% if (locals.errors && errors.description) { %>
                                            <div class="error-message">
                                                <%= errors.description.msg %>
                                            </div>
                                            <% } %>
                                                <button type="submit" class="buttons">Crear</button>

                    </form>
                </div>
            </main>
            <!-- FOOTER  -->
            <script src="/js/products.js"></script>
            <%- include('../partials/footer') %>