<!-- HEAD  -->
<%- include('../partials/head') %>

    <link href="/css/login.css" rel="stylesheet">
    <title>Login</title>
    </head>

    <body>

        <!-- HEADER  -->
        <%- include('../partials/header') %>

            <main>
                <div class="formBox">
                    <h5>Acceder</h5>

                    <form id="form" autocomplete="off" action="/users/login" method="POST">
                        <% if (locals.errors && errors.unauthorize) { %>
                            <div class="text-danger">
                                <%= errors.unauthorize.msg %>
                            </div>
                            <% } %>
                                <i class="fa-solid fa-envelope"></i>
                                <input class="inputs" type="email" name="email" placeholder="Ingrese su email">
                                <p class="error-message" id="error-email"></p>

                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>
                                        <i class="fa-solid fa-lock-open"></i>
                                        <input class="inputs" type="password" name="password"
                                            placeholder="Ingrese su contraseña">
                                        <p class="error-message" id="error-password"></p>

                                        <% if (locals.errors && errors.password) { %>
                                            <div class="text-danger">
                                                <%= errors.password.msg %>
                                            </div>
                                            <% } %>
                                                <div class="checkbox">

                                                    <input type="checkbox" name="remember">
                                                    <label for="remember" class="remember">Recordarme</label>
                                                </div>

                                                <button type="submit" class="buttons">Enviar</button>

                    </form>

                    <div class="links">
                        <a href="#">Olvidé mi contraseña</a>
                        <a href="/users/register">No tengo cuenta, registrarme</a>
                    </div>
                </div>
            </main>

            <script src="/js/login.js"></script>

            <!-- FOOTER  -->
            <%- include('../partials/footer') %>