<%- include('../partials/head') %>
  <link href="/css/profile.css" rel="stylesheet">
  <title>Perfil</title>
  </head>

  <body>
    <%- include('../partials/header') %>
      <main>
        <div class="container">
          <h1>Hola <%= user.first_name %>
              <%= user.last_name %>
          </h1>
          <div class="img-cont">
            <img src="/images/images-users/<%= user.image %> " alt="Foto de usuario">
          </div>
          <div class="interaction-buttons">
            <button class="buttons">
              <a href="/products/product-cart">
                <p>Carrito</p>
              </a>
            </button>
            <button class="buttons">
              <a href="/users/user-edit">
                <p>Editar</p>
              </a>
            </button>
          </div>
        </div>

      </main>
      <%- include('../partials/footer') %>