<%- include('../partials/head') %>
    <link href="/css/profile.css" rel="stylesheet">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="container">
                    <h1>Hola <%= user.first_name %>
                            <%= user.last_name %></h1>
                    <img src="/images/images-users/<%= user.image %> " style="max-width: 300px;" alt="Foto de usuario">
                </div>

            </main>
            <%- include('../partials/footer') %>